#
# Example ssh.cfg for jumphost
# Change User and IdentityFile(s) as necessary
#

#Host bastion 
#  Hostname bastion.labs.example.com
#  User cloud-user

#Host *.internal
#  User jrua
#  ProxyJump bastion

#Match User jrua
#  IdentityFile ~/.ssh/id_rsa

#Match User cloud-user
#  IdentityFile ~/.ssh/cloud-user.pem

Host *
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no
